body {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-light-2;
}

.h1 {
  font-size: 3.6rem;
  color: $color-primary;
  display: block;
  margin: 3rem 1rem;
  background-color: $color-secondary-dark;
  opacity: 0.8;
  letter-spacing: .5rem;
  padding: .5rem;
  box-shadow: 0px 0px .6rem rgba($color-black, 0.3);
}