// COLORS
$color-primary: #edf0c7;
$color-primary-light: #57a32b;
$color-primary-dark: #2e5a1c;

$color-secondary-light: #ff7626;
$color-secondary-dark: #ff5c00;

$color-tertiary-light: #47b0e0;
$color-tertiary-dark: #1574a0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;