.main {
  overflow: auto;
  text-align: center;
  box-shadow: 0px 0px 5px 3px inset rgba($color-black, 0.8);
  background-repeat: repeat;
  background-image: url("https://nr2mx6024.codesandbox.io/brand/logo.png");
  background-color: $color-primary;
  background-blend-mode: luminosity;
  background-size: 22rem;
  background-attachment: unset;
  background-position: center center;
}