.nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.9;
  align-items: center;
  height: 4rem;
  background-color: $color-primary-light;
  text-transform: uppercase;
  transition: all .25s, text-shadow .4s;
  z-index: 10;

  &__link, &__link:visited {
    width: unset;
    position: unset;
    color: $color-primary-dark;
    text-decoration: none;
    background-color: $color-primary-light;
    padding: 0 1rem;
    letter-spacing: 2px;
  }

  &__link:hover{
    color: $color-grey-light-1;
    text-shadow: 4px 5px 1px $color-grey-dark-3;
  }

  &__link:focus, &__link:active {
    text-shadow: none;
  }

  .nav__link--active {
    color: $color-primary-light;
    background-color: $color-primary-dark;
    border-bottom: 6px double $color-primary;
  }
}